<% _.each(fields, function(field, key) { 
    var field_name = namespace+"_"+key;
    var field_selector = "settings."+namespace+"."+key;
    var field_value = session.user.get(field_selector, defaults[key] || field.default);
%>
<div class="form-group">
    <label class="col-lg-3 control-label" for="<%- field_name %>"><%- field.label %></label>
    <div class="col-lg-9">
        <% if (field.type == "text") { %>
        <input class="form-control" type="text" name="<%- field_name %>" value="<%- field_value %>" />
        <% } else if (field.type == "password") { %>
        <input class="form-control" type="password" name="<%- field_name %>" value="<%- field_value %>" />
        <% } else if (field.type == "number") { %>
        <input class="form-control" type="number" name="<%- field_name %>" step="<%- field.step || 1 %>" min="<%- field.min || 0 %>" max="<%- field.max || 10 %>" value="<%- field_value %>" />
        <% } else if (field.type == "checkbox") { %>
        <input type="checkbox" name="<%- field_name %>" <% if(field_value) { %>checked<% } %> />
        <% } else if (field.type == "action") { %>
        <button class="btn btn-default" data-settings-action="<%- key %>"><%= field.content %></button>
        <% } else if (field.type == "textarea") { %>
        <textarea class="form-control" name="<%- field_name %>" rows="<%- field.rows || 3 %>"><%- field_value %></textarea>
        <% } else if (field.type == "select") { %>
        <select class="form-control" name="<%- field_name %>">
            <% _.each(field.options, function(opname, opkey) { %>
                <option
                    value="<%- opkey %>"
                    <% if (field_value == opkey) { %>
                        selected
                    <% } %>
                    ><%- opname %></option>
            <% }) %>
        </select>
        <% } %>

        <% if (field.help) { %>
        <p class="help-block"><%= field.help %></p>
        <% } %>
    </div>
</div>
<% }) %>