lib-cov
*.seed
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
settings.json
/node_modules/
/appBuilds/
/client/build/
.addons

/.env

/.tmp/

/addons/cb.files.editor/ace/
**/addon-built.js
**/node_modules/
*/**/addon-built.js
*/**/node_modules/
/extras/

