[submodule "addons/settings"]
	path = addons/settings
	url = https://github.com/FriendCode/codebox-addon-settings.git
[submodule "addons/manager"]
	path = addons/manager
	url = https://github.com/FriendCode/codebox-addon-manager.git
[submodule "addons/editor"]
	path = addons/editor
	url = https://github.com/FriendCode/codebox-addon-editor.git
[submodule "addons/terminal"]
	path = addons/terminal
	url = https://github.com/FriendCode/codebox-addon-terminal.git
[submodule "addons/monitor"]
	path = addons/monitor
	url = https://github.com/FriendCode/codebox-addon-monitor.git
[submodule "addons/videochat"]
	path = addons/videochat
	url = https://github.com/FriendCode/codebox-addon-videochat.git
