.addon-terminal-tab {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;

    .terminal-body {
        background: #000;
        border-color: #000;
        overflow: auto;
        cursor: text;
        padding: 0px;
        font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
        padding: 3px;

        * {
            white-space: nowrap;
        }

        .terminal-cursor {
            background: #fff;
            color: #000;
        }
    }
}