@import "./utilities.less";

// Fonts
@FontPath: "fonts/";

// Colors
// Color palette is based on base16 ocean
@color-0: #1a1d24; // dark blue
@color-1: #22262e;
@color-2: #2b303b;
@color-3: #65737e;
@color-4: #a7adba;
@color-5: #c0c5ce;
@color-6: #dfe1e8;
@color-7: #C5C8C6;
@color-8: #bf616a;
@color-9: #d08770;
@color-10: #ebcb8b;
@color-11: #a3be8c;
@color-12: #96b5b4;
@color-13: #8fa1b3;
@color-14: #b48ead;
@color-15: #ab7967;


// Dialogs
@dialog-size-small: 400px;
@dialog-size-medium: 600px;
@dialog-size-large: 900px;

@dialog-list-maxheight: 350px;

// Font
@font-size-normal: 13px;
@font-size-small: 11px;
