@import "bootstrap/bootstrap.less";
@import "fontawesome/font-awesome.less";

@import "variables.less";
@import "fonts.less";

@import "components/files/tree.less";
@import "components/files/file.less";
@import "components/files/directory.less";
@import "components/files/normal.less";
@import "components/tabs.less";
@import "components/editor.less";

@import "layouts/lateralbar.less";
@import "layouts/menubar.less";
@import "layouts/body.less";

.codebox-layout-fullscreen () {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 10000;
}

* {
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;   
}

body {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

#codebox {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}