/* Paths */
@FontPath: 'fonts';
@fa-font-path: "@{FontPath}/fontawesome";

/* Colors */
@codeboxActiveColor: #5E9EF3; /* blue */
@codeboxActiveColorDarker: darken(@codeboxActiveColor, 15%);

@codeboxActiveColor2: #2ecc71; /* green */
@codeboxActiveColor2Darker: #27ae60;

/* Menu bar */
@codeboxMenubarHeight: 27px;

/* Status bar */
@codeboxStatusbarHeight: 22px;

/* Commands toolbar */
@codeboxToolbarWidth: 34px;

/* Lateral bar */
@lateralTransitionSpeed: 350ms;

/* Body Tabs */
@codeboxBodyBackground: #e5e5e5;

@tabHeight: 28px;
@tabFontSize: 14px;
@tabInnerVPadding: 2px;
@tabBackground: @codeboxBodyBackground;

@tabSeparationColor: #ccc;
@tabBorder: #d1d1d1;
@tabColor: transparent;
@tabHoverColor: #f3f3f3;

@tabActiveColor: #fff;
@tabActiveBorder: #ccc;

@tabPanelPadding: 5px;
@tabPanelLateralWidth: 210px;

/* Commands palette */
@codeboxPaletteWidth: 500px;
@codeboxPaletteBackground: @codeboxBodyBackground;

/* Fonts */
@font-family-base: 'codeboxNormal';

/* Bootstrap */
@dropdown-link-hover-bg: @codeboxActiveColor;
@brand-primary: @codeboxActiveColor;
@border-radius-base:  1px;
@border-radius-large: 3px;
@border-radius-small: 1px;
