/* Paths */
@staticPath: "/static";
@FontPath: '@{staticPath}/fonts';
@fa-font-path: "@{FontPath}/fontawesome";

/* Colors */
@codeboxActiveColor: #5E9EF3; /* blue */
@codeboxActiveColorDarker: darken(@codeboxActiveColor, 15%);

@codeboxActiveColor2: #2ecc71; /* green */
@codeboxActiveColor2Darker: #27ae60;

/* Menu bar */
@codeboxMenubarWidth: 42px;

/* Lateral bar */
@codeboxLateralbarWidth: 232px;
@codeboxLateralbarBackground: #23252B;
@codeboxLateralbarColor: #dadde0;

/* Body Tabs */
@tabMarginTop: 6px;
@tabHeight: 26px;
@tabRadius: 14px;
@tabFontSize: 13px;
@tabInnerVPadding: 3px;
@tabBackground: #fff;

@tabBorder: #c8c8c8;
@tabColor: #d5d5d5;
@tabHoverColor: @tabColor;

@tabActiveColor: #eaeaea;
@tabActiveBorder: #b8b8b8;

@tabPanelPadding: 8px;
@tabPanelLateralWidth: 210px;

/* Fonts */
@font-family-base: 'codeboxNormal';

/* Bootstrap */
@dropdown-link-hover-bg: @codeboxActiveColor;
@brand-primary: @codeboxActiveColor;
