<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
		    <h4 class="modal-title"><%- options.title || hr.i18n.t("components.dialogs.prompt.title") %></h4>
		</div>
		<div class="modal-body">
		    <p><%= options.message %></p>
		    <input type="text" class="input span5" value="<%- options.default || "" %>" placeholder="<%- options.placeholder || "" %>" />
		</div>
		<div class="modal-footer">
		    <button class="btn btn-default action-close"><%= hr.i18n.t("components.dialogs.prompt.cancel") %></button>
		    <button class="btn btn-primary action-prompt"><%= hr.i18n.t("components.dialogs.prompt.ok") %></button>
		</div>
	</div>
</div>