<form class="form-horizontal" role="form">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Settings</h4>
            </div>
            <div class="modal-body">
                <!-- Theme -->
                <div class="form-group">
                    <label class="col-lg-3 control-label" for="editor_theme">Theme</label>
                    <div class="col-lg-9">
                        <select class="form-control editor-preview-input" name="editor_theme">
                            <% for (var theme in app.config.editor.themes) { %>
                                <option
                                    value="<%- theme %>"
                                    <% if (session.user.get("settings.theme", app.config.editor.default_theme) == theme) { %>
                                        selected
                                    <% } %>
                                    ><%- app.config.editor.themes[theme] %></option>
                            <% } %>
                        </select>
                    </div>
                </div>

                <!-- Keyboard -->
                <div class="form-group">
                    <label class="col-lg-3 control-label" for="editor_keyboard">Keyboard mode</label>
                    <div class="col-lg-9">
                        <select class="form-control editor-preview-input" name="editor_keyboard">
                            <% for (var keyboard in app.config.editor.keyboards) { %>
                                <option
                                    value="<%- keyboard %>"
                                    <% if (session.user.get("settings.keyboard", app.config.editor.default_keyboard) == keyboard) { %>
                                        selected
                                    <% } %>
                                    ><%- app.config.editor.keyboards[keyboard] %></option>
                            <% } %>
                        </select>
                    </div>
                </div>

                <!-- Font size -->
                <div class="form-group">
                    <label class="col-lg-3 control-label" for="editor_fontsize">Font Size</label>
                    <div class="col-lg-9">
                        <input class="form-control editor-preview-input" type="number" name="editor_fontsize" step="1" min="10" max="30" value="<%- session.user.get("settings.fontsize",13) %>" />
                    </div>
                </div>

                <!-- Print Margin Column -->
                <div class="form-group">
                    <label class="col-lg-3 control-label" for="editor_printmargincolumn">Print Margin Column</label>
                    <div class="col-lg-9">
                        <input class="form-control editor-preview-input" type="number" name="editor_printmargincolumn" step="1" min="0" max="1000" value="<%- session.user.get("settings.printmargincolumn",50) %>" />
                    </div>
                </div>

                <!-- Show Print Margin -->
                <div class="form-group">
                    <label class="col-lg-3 control-label" for="editor_showprintmargin">Show Print Margin</label>
                    <div class="col-lg-9">
                        <input class="editor-preview-input" type="checkbox" name="editor_showprintmargin" <% if(session.user.get("settings.showprintmargin")) { %>checked<% } %> />
                    </div>
                </div>

                <!-- Enable Soft Wrap -->
                <div class="form-group">
                    <label class="col-lg-3 control-label" for="editor_enablesoftwrap">Enable Soft Wrap</label>
                    <div class="col-lg-9">
                        <input class="editor-preview-input" type="checkbox" name="editor_enablesoftwrap" <% if(session.user.get("settings.enablesoftwrap")) { %>checked<% } %> />
                    </div>
                </div>

                <!-- wrap limit range -->
                <div class="form-group">
                    <label class="col-lg-3 control-label" for="editor_wraplimitrange">Wrap Limit Range</label>
                    <div class="col-lg-9">
                        <input class="form-control editor-preview-input" type="number" name="editor_wraplimitrange" step="1" min="0" max="1000" value="<%- session.user.get("settings.wraplimitrange",80) %>" />
                    </div>
                </div>

                <!-- highlight active line -->
                <div class="form-group">
                    <label class="col-lg-3 control-label" for="editor_highlightactiveline">Highlight Active Line</label>
                    <div class="col-lg-9">
                        <input class="editor-preview-input" type="checkbox" name="editor_highlightactiveline" <% if(session.user.get("settings.highlightactiveline")) { %>checked<% } %> />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default">Save</button>
                <button class="btn btn-default action-close">Cancel</button>
            </div>
        </div>
    </div>
</form>