<div class="editor">
    <a href="#" class="btn action-file action-file-fullscreen" title="Zen mode"><i class="icon-resize-full"></i></a>
    <div class="btn-group file-settings">
        <a href="#" class="btn btn-link action-file-mode" data-toggle="dropdown">text</a>
        <ul class="dropdown-menu">
        <% _.each(app.config.editor.modes, function(mode, modeid) { %>
            <li><a href="#" data-editormode="<%- modeid %>"><%- mode %></a></li>
        <% }); %>
        </ul>
    </div>

    <%= view.component("component.editor", {}, "editor") %>
</div>