.ace_editor {
    &.ace-codebox-dark .ace_gutter {
        background: #343c45;
        color: #C5C8C6
    }

    &.ace-codebox-dark .ace_print-margin {
        width: 1px;
        background: #25282c
    }

    &.ace-codebox-dark  {
        background-color: #343c45;
        color: #C5C8C6
    }

    &.ace-codebox-dark .ace_cursor {
        color: #AEAFAD
    }

    &.ace-codebox-dark .ace_marker-layer .ace_selection {
        background: #373B41
    }

    &.ace-codebox-dark.ace_multiselect .ace_selection.ace_start {
        box-shadow: 0 0 3px 0px #1D1F21;
        border-radius: 2px
    }

    &.ace-codebox-dark .ace_marker-layer .ace_step {
        background: rgb(102, 82, 0)
    }

    &.ace-codebox-dark .ace_marker-layer .ace_bracket {
        margin: -1px 0 0 -1px;
        border: 1px solid #4B4E55
    }

    &.ace-codebox-dark .ace_marker-layer .ace_active-line {
        background: #282A2E
    }

    &.ace-codebox-dark .ace_gutter-active-line {
        background-color: #343c45;
    }

    &.ace-codebox-dark .ace_marker-layer .ace_selected-word {
        border: 1px solid #373B41
    }

    &.ace-codebox-dark .ace_invisible {
        color: #4B4E55
    }

    &.ace-codebox-dark .ace_keyword,
    &.ace-codebox-dark .ace_meta,
    &.ace-codebox-dark .ace_storage,
    &.ace-codebox-dark .ace_storage.ace_type,
    &.ace-codebox-dark .ace_support.ace_type {
        color: #B294BB
    }

    &.ace-codebox-dark .ace_keyword.ace_operator {
        color: #8ABEB7
    }

    &.ace-codebox-dark .ace_constant.ace_character,
    &.ace-codebox-dark .ace_constant.ace_language,
    &.ace-codebox-dark .ace_constant.ace_numeric,
    &.ace-codebox-dark .ace_keyword.ace_other.ace_unit,
    &.ace-codebox-dark .ace_support.ace_constant,
    &.ace-codebox-dark .ace_variable.ace_parameter {
        color: #DE935F
    }

    &.ace-codebox-dark .ace_constant.ace_other {
        color: #CED1CF
    }

    &.ace-codebox-dark .ace_invalid {
        color: #CED2CF;
        background-color: #DF5F5F
    }

    &.ace-codebox-dark .ace_invalid.ace_deprecated {
        color: #CED2CF;
        background-color: #B798BF
    }

    &.ace-codebox-dark .ace_fold {
        background-color: #81A2BE;
        border-color: #C5C8C6
    }

    &.ace-codebox-dark .ace_entity.ace_name.ace_function,
    &.ace-codebox-dark .ace_support.ace_function,
    &.ace-codebox-dark .ace_variable {
        color: #81A2BE
    }

    &.ace-codebox-dark .ace_support.ace_class,
    &.ace-codebox-dark .ace_support.ace_type {
        color: #F0C674
    }

    &.ace-codebox-dark .ace_heading,
    &.ace-codebox-dark .ace_string {
        color: #B5BD68
    }

    &.ace-codebox-dark .ace_entity.ace_name.ace_tag,
    &.ace-codebox-dark .ace_entity.ace_other.ace_attribute-name,
    &.ace-codebox-dark .ace_meta.ace_tag,
    &.ace-codebox-dark .ace_string.ace_regexp,
    &.ace-codebox-dark .ace_variable {
        color: #CC6666
    }

    &.ace-codebox-dark .ace_comment {
        color: #969896
    }

    &.ace-codebox-dark .ace_indent-guide {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNgYGBgYHB3d/8PAAOIAdULw8qMAAAAAElFTkSuQmCC) right repeat-y;
    }
}