.addon-debugger-tab {
    .component-grid .grid-section {
        .grid-resize-bar-h {
            background: rgba(0,0,0, 0.1);
        }
    }

    .debug-section {
        h4 {
            display: block;
            width: 100%;
            background: rgba(0,0,0,.05);
            font-size: 14px;
            padding: 6px 8px;
            margin: 0px;
        }
    }
}