<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <nav class="navbar navbar-default navbar-static-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-8">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand">Git</span>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#git-tab-changes" tabindex="-1" data-toggle="tab">Changes</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="git-changes tab-pane fade in active" id="git-tab-changes">
                    <form class="git-commit">
                        <div class="form-group">
                            <textarea class="form-control" rows="2" placeholder="Commit summary"></textarea>
                        </div>
                        <button type="submit" class="btn btn-default">Commit</button>
                    </form>
                    <ul class="git-changes-files">
                    <% _.each(git.files || {}, function(file, path) { %>
                        <li class="file">
                            <span class="file-type type-<%- file.type || 'A' %>"><%- file.type || 'A' %></span>
                            <span class="path"><%- path %></span>
                        </li>
                    <% }); %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default action-close">Close</button>
        </div>
    </div>
</div>