<% if (session.box.isAuth()) { %>
<div id="codebox" class="mode-body-fullpage">
	<!-- Alerts -->
	<div class="cb-alerts"></div>

	<!-- Menu bar -->
	<div class="cb-menubar">
		<span class="cb-user-email"><%- session.user.get("email") %></span>
	</div>
	
	<!-- Lateral bar commands-->
	<div class="cb-lateralbar">
		<div class="lateral-commands cb-commands"></div>
	</div>

	<!-- Body -->
	<div class="cb-body"></div>
	
	<!-- Status bar -->
	<div class="cb-statusbar"></div>
</div>
<div class="cb-loading-alert"><div class="cb-loadings-spinner"></div><div class="cb-loading-message"></div></div>
<% } else { %>
<div id="codebox">
	<div class="cb-login">
		<div class="login-box">
			<div class="header">
  				<img src="static/images/icons/128.png" />
			</div>
			<form class="inner">
				<% if (loginError != null) { %>
					<div class="form-group">
						<p class="text-danger text-center"><%- loginError.message || loginError %></p>
					</div>
				<% } %>

				<% if (hr.offline.isConnected()) { %>
					<div class="form-group">
						<input type="email" class="form-control input-lg" name="login-email" id="login-email" placeholder="Email" value="<%- email %>" autocomplete="off">
						<% if (session.box.get("public")) { %>
						<p class="help-block">This workspace is public, enter an email to identify yourself (GIT and collaborators).</p>
						<% } %>
					</div>
					<% if (!session.box.get("public")) { %>
					<div class="form-group">
						<input type="password" class="form-control input-lg" name="login-token" id="login-token" placeholder="Password" value="<%- token %>" autocomplete="off">
					</div>
					<% } %>
					<button id="login-submit" class="btn btn-lg btn-block btn-default">Enter</button>
				<% } else { %>
					<div class="form-group">
						<p class="help-block">Sorry, You can't use this workspace in offline mode.</p>
						<p class="help-block">Please login into your box first when your connection is back, and then this box will be available in offline mode.</p>
						<p class="help-block">-- See you later</p>
					</div>
				<% } %>
			</form>
		</div>
	</div>
</div>
<% } %>