<% if (isAuth) { %>
<div id="codebox">
	<script src="static/ace/ace.js" type="text/javascript" charset="utf-8"></script>
	
	<!-- Menu bar -->
	<%= view.component("layout.menubar", {}, "menubar") %>

	<!-- Lateral bar -->
	<%= view.component("layout.lateralbar", {}, "lateralbar") %>

	<!-- Body -->
	<%= view.component("layout.body", {}, "body") %>
</div>
<% } else { %>
<div id="codebox">
	<div class="layout-login">
		<div class="login-box">
			<div class="header">
				<span class="icon-stack">
				  <i class="icon-cloud icon-stack-base"></i>
				  <i class="icon-terminal icon-dark"></i>
				</span>
			</div>
			<div class="inner">
				<form role="form">
					<div class="form-group">
						<input type="email" class="form-control" id="login-email" placeholder="Enter email" value="<%- email %>">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" id="login-token" placeholder="Enter token" value="<%- token %>">
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox" id="login-save" checked> Remember me
						</label>
					</div>
					<button type="submit" class="btn btn-lg btn-block btn-default">Login</button>
				</form>
			</div>
		</div>
	</div>
</div>
<% } %>