body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background: #f1f1f1;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#projects {
    position: fixed;
    top: 0px;
    bottom: 100px;
    right: 0px;
    left: 0px;
    margin: 10px;
    list-style: none;
    overflow-y: auto;
}

#projects .project {
    display: block;
    float: left;
    background: #fff;
    border: 4px solid #E5E5E5;
    color: #333;
    padding: 10px;
    width: 100%;
    height: 80px;
    margin: 5px 0px;
    overflow: hidden;
    cursor: pointer;
    color: #888;
}
#projects .project:hover {
    border-color: #ddd;
}
#projects .project .project-title {
    text-transform: uppercase;
    font-size: 20px;
    color: #666;
    margin-bottom: 6px;
}

#open-new {
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: 10px;
    display: block;
    padding: 30px 50px;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    background: #fff;
    border: 4px solid #E5E5E5;
    text-decoration: none;
    font-weight: bold;
    color: #999;
}