#codebox {
    .cb-lateralbar {
        position: absolute;
        top: @codeboxMenubarHeight;
        left: 0px;
        bottom: @codeboxStatusbarHeight;
        width: @codeboxToolbarWidth;
        .transition(width @lateralTransitionSpeed);
        .user-select(none);
        background: @codeboxBodyBackground;

        .lateral-commands {
            position: absolute;
            left: 0px;
            right: 0px;
            width: @codeboxToolbarWidth;
            top: 0px;
            bottom: 0px;
            height: 100%;
            background: @codeboxBodyBackground;
        }
    }
}