<form class="form-horizontal" role="form">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <nav class="navbar navbar-default navbar-static-top" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-8">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Settings</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
                        <ul class="nav navbar-nav">
                        <% _.each(settings.sections["main"], function(tab) { %>
                            <li><a href="#settings-tab-<%- tab.namespace %>" tabindex="-1" data-toggle="tab"><%- tab.title %></a></li>
                        <% }) %>
                        <% _.each(settings.sections, function(sections, section) { %>
                            <% if (section != "main") { %>
                            <li class="dropdown">
                                <a href="#" id="settings-dropdown-<%- section %>" class="dropdown-toggle" data-toggle="dropdown"><%- section %> <b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="settings-dropdown-<%- section %>">
                                    <% _.each(sections, function(tab) { %>
                                        <li><a href="#settings-tab-<%- tab.namespace %>" tabindex="-1" data-toggle="tab"><%- tab.title %></a></li>
                                    <% }) %>
                                </ul>
                            </li>
                            <% } %>
                        <% }) %>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>

                <!-- Tab panes -->
                <div class="tab-content">
                <% settings.each(function(tab) { %>
                    <div class="tab-pane fade settings-basepane" id="settings-tab-<%- tab.namespace %>"></div>
                <% }) %>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default">Save</button>
                <button class="btn btn-default action-close">Cancel</button>
            </div>
        </div>
    </div>
</form>