<form class="form-horizontal" role="form">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <nav class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="navbar-header">
                        <span class="navbar-brand">Settings <i class="fa fa-angle-right"></i> <span class="settings-title"></span></span>
                    </div>
                </nav>

                <div class="settings-menu">
                    <ul class="nav nav-pills nav-stacked">
                    <% _.each(tabs, function(pair, i) {
                        var tab = pair[1]; %>
                        <li><a href="#settings-tab-<%- tab.namespace %>" tabindex="-1" data-toggle="tab"><%- tab.title %></a></li>
                    <% }); %>
                    </ul>
                </div>

                <div class="settings-content">
                    <div class="tab-content">
                    <% settings.each(function(tab) { %>
                        <div class="tab-pane fade settings-basepane" id="settings-tab-<%- tab.namespace %>"></div>
                    <% }) %>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default">Save</button>
                <button class="btn btn-default action-close">Cancel</button>
            </div>
        </div>
    </div>
</form>