#codebox .layout-lateralbar {
	position: absolute;
	top: 0px;
	left: @codeboxMenubarWidth;
	bottom: 0px;
	width: @codeboxLateralbarWidth;
	background: @codeboxLateralbarBackground;
	overflow-y: auto;
	overflow-x: hidden;

	.files {
		margin: 4px;
	}
}