#codebox .layout-login {
	@boxWidth: 340px;
	@boxHeight: 345px;

	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: #eef0f2;

	.login-box {
		position: absolute;
		top: 35%;
		left: 50%;
		width: @boxWidth;
		height: @boxHeight;
		margin-left: -(@boxWidth/2);
		margin-top: -(@boxHeight/2);

		.form-control {
			border-color: #cbcfd1;
			box-shadow: none;
		}

		.header {
			font-size: 40px;
			line-height: 150px;
			color: #cbcfd1;
			text-align: center;

			.fa-stack {
				width: 2.8em;
			}
		}

		.inner {
			padding: 8px;
			border-radius: 6px;
			border: 2px solid #cbcfd1;
			background: #fafafa;
		}
	}
}