<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <nav class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-8">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <span class="navbar-brand">Add-ons</span>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
                        <ul class="nav navbar-nav">
                            <li><a href="#" data-addons="all">All</a></li>
                            <li><a href="#" data-addons="installed">Installed</a></li>
                            <li><a href="#" data-addons="available">Available</a></li>
                            <li><a href="#" data-addons="defaults">Defaults</a></li>
                        </ul>
                    </div>
                </nav>
            <div class="list"></div>
        </div>
        <div class="modal-footer">
             <button class="btn btn-default action-fromurl">Install from url...</button> <button class="btn btn-default action-close">Close</button>
        </div>
    </div>
</div>