<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <input type="text" class="search-input" placeholder="Search" />
            <h4 class="modal-title">Add-ons</h4>
        </div>
        <div class="modal-body">
            <div class="btn-group btn-group-justified">
                <a href="#" class="btn btn-default" data-addons="all">All</a>
                <a href="#" class="btn btn-default" data-addons="installed">Installed</a>
                <a href="#" class="btn btn-default" data-addons="available">Available</a>
                <a href="#" class="btn btn-default" data-addons="defaults">Defaults</a>
            </div>
            <div class="list"></div>
        </div>
        <div class="modal-footer">
             <button class="btn btn-default action-fromurl">Install from url...</button> <button class="btn btn-default action-close">Close</button>
        </div>
    </div>
</div>