.cb-menubar {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: @codeboxToolbarHeight;
    border-bottom: 1px solid #ccc;
    padding: 2px;

    .menu-item {
        color: inherit;
        padding: 3px 5px;
        margin: 0px 3px;
        float: left;
        display: block;
        cursor: default;

        &:hover {
            background: #e5e5e5;
            text-decoration: none;
        }
    }
}