.component-file {
    .files-toolbar {
        .btn {
        	border-color: @codeboxActiveColorDarker;
        	background: none;
			color: @codeboxActiveColor;

        	&:hover {
        		background: @codeboxActiveColor;
        		color: #fff;
        	}
        }
    }
}