body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #111;
    background: #EDEDED;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#projects {
    position: fixed;
    top: 0px;
    bottom: 90px;
    right: 0px;
    left: 0px;
    padding: 5px 10px;
    list-style: none;
    overflow-y: auto;
    background: #EDEDED;
    border-bottom: 1px solid #959595;
}
#projects .empty-message {
    text-transform: uppercase;;
    text-align: center;
    margin: 150px 20px;
    font-size: 18px;
    color: #ccc;
}

#projects .project {
    display: block;
    float: left;
    background: #f2f2f2;
    border: 1px solid #ccc;
    color: #333;
    padding: 10px;
    width: 100%;
    height: 70px;
    margin: 5px 0px;
    overflow: hidden;
    cursor: pointer;
    color: #888;
    border-radius: 4px;
    font-size: 12px;
}
#projects .project:hover {
    
}
#projects .project .project-title {
    text-transform: uppercase;
    font-size: 20px;
    color: #555;
    margin-bottom: 5px;
}
#projects .project .project-icon {
    float: left;
    margin: 9px 10px 0px 2px;
}

#open-new {
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: 10px;
    display: block;
    padding: 20px 50px;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    color: #000;
    border-radius: 4px;
    border: 1px solid #9a9a9a;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #EBEBEB),color-stop(0.5, #ECECEC),color-stop(0.5, #F3F3F3),color-stop(1, #FFFFFF));
    box-shadow: inset 0 1px 0 rgba(255,255,255,1), 0 1px 0 rgba(0,0,0,0.09);
    text-decoration: none;
    font-weight: bold;
    color: #555;
}